.userDetails {
    font-weight: bold;
}

.mat-dialog-content{
    background-color: white;
}
.mat-dialog-container {
    background-color: red;
}
.mat-dialog-container{
    background-color: red;
}
.material-icons{
 margin-left: 50%;
}