h3{
    text-align: center;
    color : #3f51b5;
    padding-bottom: 5%;
  }


.infoEtu {
    white-space: nowrap;
    font-weight: bold;
    // margin-right: 50%;
  }
  
.container {
    margin-bottom: 5%;
  }
  
.example-card{
    margin-bottom: 3%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.addButton{
margin-left: 77%;
}