.example-card {
  width: 30%;
  margin : 1% 1% 1% 1%
}

.example-header-image {
  background-image: url('https://st3.depositphotos.com/11395550/16526/v/1600/depositphotos_165260088-stock-illustration-people-group-logo-design-vector.jpg');
  background-size: cover;
}

.subtitle {
  font-weight: bold;
}
