.example-card {
  max-width: 80%;
  margin: auto;
}

.example-header-image {
  background-image: url('https://image.flaticon.com/icons/png/512/44/44948.png');
  background-size: cover;
}

.infoEtu {
  white-space: nowrap;
  font-weight: bold;
  // margin-right: 50%;
}

.container {
  margin-bottom: 5%;
}
