<div class="container">
  <div class="row">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar > <i class="material-icons">
          group
          </i></div>
        <mat-card-title>Groupe</mat-card-title>
        <mat-card-subtitle>Configuration des groupes d'élèves</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Ajouter, modifier ou supprimer un groupe</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="moveToAdminGroup()">Configurer</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar > <i class="material-icons">
          location_city
          </i></div>
        <mat-card-title>Etablissement</mat-card-title>
        <mat-card-subtitle>Configuration des établissements</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Ajouter, modifier ou supprimer un établissement</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="moveToAdminEtablissement()">Configurer</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar> <i class="material-icons">
          school
          </i> </div>
        <mat-card-title>Professeur</mat-card-title>
        <mat-card-subtitle>Configuration des professeurs</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Ajouter, modifier ou supprimer un professeur</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="moveToProf()">Configurer</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar> <i class="material-icons">
          attach_money
          </i></div>
        <mat-card-title>Prix</mat-card-title>
        <mat-card-subtitle>Configuration des prix</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Ajouter, modifier ou supprimer un prix</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="moveToPrice()">Configurer</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar> <i class="material-icons">
          attach_money
          </i></div>
        <mat-card-title>Séance</mat-card-title>
        <mat-card-subtitle>Configuration des séances</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> Ajouter, modifier ou supprimer une séance</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Configurer</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>