.userDetails {
  font-weight: bold;
  // margin-right: 2%;
}

.mat-dialog-content{
  background-color: white;
}
.mat-dialog-container {
  background-color: red;
}
.mat-dialog-container{
  background-color: red;
}
.material-icons{
margin-right: 10%;
}
