<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Gestion des prix </mat-card-title>
    <mat-card-subtitle>Liste des prix</mat-card-subtitle>
    <button class="addButton"mat-flat-button color="primary" (click)= "openDialogAddPrice()">Ajouter</button>
    </mat-card-header>

  <hr>
  <mat-card-content>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="Prix">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let element"> {{element.prix}} DA </td>
      </ng-container>
  
      <ng-container matColumnDef="Modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier </th>
        <td mat-cell *matCellDef="let element"> <a mat-button matTooltip="Modifier" 
          (click)="openModalUpdatePrice(element)"> <mat-icon>edit</mat-icon></a> </td>
      </ng-container>

      <ng-container matColumnDef="Supprimer">
        <th mat-header-cell *matHeaderCellDef> Supprimer </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button matTooltip="Cloturer" (click)="openModalDeletePrice(element)"> <mat-icon>close</mat-icon></a> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  </mat-card-content>
</mat-card>